<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-justify-sb">
             <ul>
                 <li class="p-hamburger">
                     <span></span>
                     <span></span>
                     <span></span>
                  
                 </li>
                 <li>
                    <img class="p-cursor" src="assets/images/search.png" alt="" width="20">
                 </li>
             </ul>
<ul>
    <li>
        <a href="#">
Profile
        </a>
    </li>
    <li>
        <a href="#">
Mes Projets 
        </a>
    </li>
    <li>
        <a href="/Certificate"> 
          Mes Certificats 
        </a>
    </li>
    <li>
        <a href="#">
vie associative
        </a>
    </li>
</ul>
            </div>
        </div>
    </div>
</header>