
    <section class="team-area mt-20">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-heading text-center  mb-90 ">
                        <h2 class="h2-section wow fadeInUp" data-wow-delay="0.3s">Mes certififcats</h2>
                    
                    </div>
                </div>
                <div class="row wow fadeInRight">
                    <div class="col-lg-4 col-md-4 col-sm-6 cardTeach">
                        <div class="single-cat">
                            <div class="cat-icon text-center">
                                <img src="assets/img/icon/story-telling.svg" alt="">
                            </div>
                            <div class="cat-cap text-center">
                                <h5><a href="#">Scrum Foundation</a></h5>
                              
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 cardTeach">
                        <div class="single-cat">
                            <div class="cat-icon text-center">
                                <img src="assets/images/scrum.jpg" alt="" width="550px">
                            </div>
                            <div class="cat-cap text-center">
                                <h5><a href="#">Learn by doing</a></h5>
                               
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 cardTeach">
                        <div class="single-cat">
                            <div class="cat-icon text-center">
                                <img src="assets/images/css.jpg" alt="" width="550px">
                            </div>
                            <div class="cat-cap text-center">
                                <h5><a href="#">Active learning</a></h5>
                              
                               
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>